.BioPage {
    #content {
        width: inherit;
    }

    .nav-main {
        width: inherit;
        padding-right: 15px;
        justify-content: space-between;
    }

    .side-left {
        max-width: 250px;
    }
}