ul.list-search {
    width: inherit;
    padding: 0 30px 20px 30px;
    width: inherit;
    padding: 0 30px 20px 30px;
    margin-top: 40px;
    overflow-y: scroll;
    height: 86vh;

    li {
        .user-wrapper {

            .img-wrapper {
                min-width: 56px;
                min-height: 56px;
            }

            .name {
                .nameIG {
                    font-weight: bolder;
                    font-size: 19px;
                }

                .name-user {
                    font-size: 14px;
                }
            }



        }
    }

    li:hover {
        background-color: rgb(18, 18, 18);
    }
}


ul.category-searh {
    position: fixed;
    background-color: rgb(18, 18, 18);
    z-index: 20;
    height: 60px;
    display: flex;
    width: -webkit-fill-available;

    li.category-item {
        align-items: center;
        color: rgb(255 255 255 / 50%);
        cursor: pointer;
        display: flex;
        font-weight: 600;
        justify-content: center;
        line-height: 22px;
        min-width: 120px;
    }

    li.category-item.active {
        color: rgb(255 255 255 / 90%);
        position: relative;
    }

    li.category-item.active::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 6%;
        height: 3px;
        width: 90%;
        border-radius: 20px;
        background-color: rgb(255 255 255 / 90%);
    }
}

#content{
    justify-content: flex-start;
}