.content-video {
    position: relative;
    padding: 0 8px;
    margin-bottom: 20px;

    .video-tiktok {
        width: 100%;
        height: 256px;
        object-fit: cover;
        border-radius: 5px;
    }

    .des-video {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        color: white;

        .title-video {
            font-weight: 400;
            margin: 0 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .view_count {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 37px;
        left: 19px;
        font-weight: 700;
    }

}