.footer {
    margin-bottom: 20px;

    ul.footer-intro {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 8px;

        li {
            color: rgb(255 255 255 / 50%);
            margin: 0 5px 6px 0;
            font-weight: 600;
            font-size: 12px;
            line-height: 17px;
            display: inline-block;
        }
    }
}